.calc{
    width: 400px;
    height: 600px;
    margin-left: 400px;
    background-color: grey;
}
#screen{
    width: 80%;
    margin-left: 36px;
    height: 50px;
    margin-top: 14px;
    pointer-events: none;
}
.btn{
    width: 56px;
    height: 53px;
    margin-left: 33px;
    margin-top: 49px;
    background-color: indianred;
}
